.body{
background-color:rgb(255, 255, 255);
color: rgb(0, 0, 0);
}

p{
color: #000000;
fond-size: 22px;
}

span{
color: rgb(0, 0, 0);
fond-size: 33px;
}

button{
   
}


table{

    width: 100%;
    border-collapse: collapse;;

}

td{
    border: 2px solid #444343;
    padding: 15px;
}
#contenedor1{
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(152, 172, 152);
}
#contenedor2{
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(188, 188, 255);
    width: 100px;
}
#contenedor3{
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(252, 190, 149);
    width: 100px;
}
#contenedor2:hover{
    background-color: red;
}
#contenedor3:hover{
    background-color: yellowgreen;
}
.control1:focus{
    background-color: aqua;
}
.titulos{
    font-family: 'Permanent Marker', cursive;
}
.imagen{
    background-image: url("Gary bueno.jpg");
    width: 600px;
    height: 900px;
    background-position: center top ;
    background-size: cover contain;
    background-repeat: no-repeat;

}

.container{
    color: blueviolet;
    font-size: 60px;
    border: 5px double #000;
    margin: 10px;
    padding: 20px;
}
.gradiente{
    background: rgb(56, 49, 192);
    background: radial-gradient(circle, rgb(83, 77, 201) 0%, rgb(95, 25, 46) 27%, rgb(65, 185, 129) 78%, rgb(184, 26, 216) 100%);
    width: 500px;
    height: 500px;
    text-align: center;
    padding-top: 250px;
    font-family: 'Permanent Marker', cursive;
}

.alineacion{
    text-align: justify;
    text-shadow: 1px 2px 4px green;
}

.caja-3{
    height: 100px;
    width: 100px;
    box-shadow: 2px 3px 6px rgb(184, 112, 90);
}

.caja-4{
    height: 80px;
    width: 80px;
    border: 1px black;
    animation: mi-animacion 5s;

}

@keyframes mi-animacion {
    0%{
        background-color: red;
        
    }

    50%{
        background-color: blue;
    }

    100%{
        background-color: yellow;
        height: 160px;
        width: 160px;
        border: 1px black;
        margin-left: 100px;
    }

}

#circle {
    background: rgb(225, 0, 0);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    box-shadow: 6px 5px 4px rgb(126, 126, 126);
    animation: circulo 10s;
}

    @keyframes circulo{

        0%{
            background-color: red;
        }    
    
        25%{
            background-color: orange;
            margin-left: 200px;
            margin-top: 0px;
            margin-botton: 200px;

        }
    
        50%{
            background-color: purple;
            margin-top: 200px;
            margin-left: 200px;
            
        }
            
        75%{
            background-color: pink;
            margin-left: 0px;
            margin-top: 200px;
        }

        100%{
            background-color: red;
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0%;
        }
    }

}